$modal-bg: rgba(0, 0, 0, .7);

.modal {
  &.show {
    background: $modal-bg;
    display: block;
  }
}

$morph-delay: 1s;
.morph {
  overflow: hidden;
  &-enter {
    &-active {
      max-height: 1px;
      opacity: 0;
      transition: all 2s;
    }

    &-to {
      max-height: 400px;
      opacity: 1;
    }
  }

  &-leave {
    &-active {
      max-height: 300px;
      transition: all 500ms;
    }

    &-to {
      max-height: 0;
      opacity: 0;
    }
  }
}


.slide {
  &-enter {
    transform: translateY(-50px);

    &-active {
      max-height: 1px;
      opacity: 0;
      transition: max-height 1s, opacity 1s;
    }

    &-to {
      max-height: 500px;
      opacity: 1;
    }
  }

  &-leave {
    &-active {
      max-height: 500px;
      transition: max-height 1s;
    }

    &-to {
      max-height: 0;
      opacity: 0;
      transform: translateY(-100px);
    }
  }
}
