$blue: #1196d7 !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$border-radius: .5rem;

$spacer: .5rem !default;

$card-spacer-y: .5rem !default;
$card-spacer-x: .75rem !default;

@import '~bootstrap/scss/bootstrap';
